.Explore{
    display: inline-flex;
    margin-top: -12px;
    margin-left: -40px;
}

.Heading{
    float: left;
    margin-top: 20px;
    margin-left: 104px; 
    margin-right: 200000px;
    color: #749ab8;
}
