.Header{
    text-align: center;
    margin-top: 0px;
}

.Header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.Header li {
    float: left;
    height: 60px;
    margin-top: 10px;
    margin-left: 34px;
}

.Header img{
    margin-left: 130px;
    margin-right: 220px;
}

.Header button{
    margin-left: 90px;
    height: 46px;
    width: 150px;
    background-color: #f00c0c;
    color: white;
    border: 0in;
    border-radius: 4px;
    font-size: 15px;
}

.Header button:hover{
    background-color:  #29db19;
    color: black;
    cursor: pointer;
}

.Header a {
    text-decoration: none;
    color:#1475a1;
    
}

.Header a:hover,a:active{
    color: rgb(204, 37, 107);
}